[user]
	email = traeger.stephan@gmail.com
	name = Stephan

[includeIf "gitdir:~/personal/"]
  path = ~/.gitconfig-personal
[includeIf "gitdir:~/work/"]
  path = ~/.gitconfig-work

[alias]
	st = status -sb
	ci = commit
	all = commit -am
	br = branch
	co = checkout
	di = diff
	dic = diff --cached
	lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	ls = ls-files
	# Show files ignored by git:
	ign = ls-files -o -i --exclude-standard

	shoot = push origin --delete
	unstage = reset HEAD --
	prev = checkout -
	discard = checkout -- 
	branch-name = "!git rev-parse --abbrev-ref HEAD"
	publish = "!git push -u origin $(git branch-name)"
	cdr = "!cd `git rev-parse --show-toplevel`"
	ec = config --global -e
	up = !git pull --rebase --prune $@ && git submodule update --init --recursive
	wipe = !git add -A && git commit -qm 'WIPE SAVEPOINT' && git reset HEAD~1 --hard

[color]
	ui = auto
[color "branch"]
	current = yellow reverse
	local = yellow
	remote = green
[color "status"]
	added = yellow
	changed = green
	untracked = cyan
	
[cola]
	spellcheck = false
[core]
	autocrlf = input
